<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <script type="text/javascript" src="../admin/admin.js"></script>
</head>

<body>

    <!-- Example single danger button -->
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-danger" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">

            <li>
                <h2 class="dropdown-header" style="color: greenyellow;">Exporte für die Kameras</h2>
            </li>

            <li><a class="dropdown-item" onclick="exportPermissionsForAll()">Export für alle Parkplätze</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="exportPermissionsFor('P1')">Export für P1 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P2')">Export für P2 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P3')">Export für P3 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P4')">Export für P4 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P5')">Export für P5 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P6')">Export für P6 (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('A75')">Export für A75 (NYI)</a></li>
            <li>
                <a class="dropdown-item" onclick="exportPermissionsFor('Job Ticket')">Export für Job Ticket (NYI)</a>
            </li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('P3 Erw.')">Export für P3 Erw. (NYI)</a></li>
            <li><a class="dropdown-item" onclick="exportPermissionsFor('Werk')">Export für Werk (NYI)</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <h2 style="color: red;" class="dropdown-header">Importiere eine Excel-Datei in die DB.</h2>
            </li>

            <li>
                <a class="dropdown-item" href="#">
                    <%- include('admin/excel-upload'); %>
                </a>
            </li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <h2 style="color: red;" class="dropdown-header">Alle Einträge als Excel-Datei (XLSX) herunterladen</h2>
            </li>

            <li>
                <a class="dropdown-item">
                    <%- include('admin/excel-download'); %>
                </a>
            </li>

    </div>

</body>

</html>