
<!-- TODO -->
<!-- Get mit Parametern -->
<!-- https://stackoverflow.com/questions/17007997/how-to-access-the-get-parameters-after-in-express -->

<form action="downloadDbAsXlsx" method="GET" enctype="multipart/form-data">
    <button>Herunterladen</button>
</form>