<button
    class="btn btn-primary" 
    data-bs-target="#insertPermissionModal"
    data-bs-toggle="modal" 
    onclick="setInsertMode('create')"
    title = "Erstelle hier eine neue Parkerlaubnis"
    type="button" 
    >
    Neue Parkerlaubnis
</button>