<div class="form-floating mb-1">

    <input 
        type="text" 
        class="form-control" 
        data-cy=<%=label.toLowerCase() %>
        id=<%=label.toLowerCase() %>
        placeholder=<%= label %>
    >

    <label >
        <%= label %>
    </label>

</div>