<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="../search/search.js"></script>

</head>

<body>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertPermissionModal" onclick="setInsertMode('create')">
        Neue Parkerlaubnis
    </button>

</body>

</html>