<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../table/table.css">

    <script type="text/javascript" src="../table/table.js"></script>
    <script type="text/javascript" src="../edit/edit.js"></script>
    <!-- <script type="text/javascript" src="../delete/delete.js"></script> -->

</head>

<body onload="fetchAllPermissions()" >
    <div id="resultTablePlaceHolder"></div>
</body>

</html>