<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="../../../util/dom.js"></script>
    <script type="text/javascript" src="../../../admin/admin.js"></script>
</head>

<body>

    <div class="row">

        <div class="col-sm-8">
                <%- include('search-field'); %>
        </div>

        <div class="col-sm-4">
            <%- include('search-result-count'); %>
        </div>

    </div>

</body>

</html>