.create-row {
    width: 65%;
}

.detail-row {
    width: 100%;
}

.parking-places-row {
    width: 100%;
}

.big-checkbox {
    width: 20px;
    height: 20px;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.broad-col {
    width: 100px;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.modal-dialog {
    width: 120%;
    margin: auto;
}

modal-ku {
    width: 750px;
    margin: auto;
  }