<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">


    <!-- Insert -->
    <link rel="stylesheet" href="../insert/insert.css">

    <script type="text/javascript" src="../insert/insert.js"></script>

    <script type="text/javascript" src="../insert/parking-places.js"></script>
    <script type="text/javascript" src="../insert/permission-details.js"></script>


</head>

<body>

    <!-- TODO: aus allen Textfeldern eine wiederbenutzbare komponenten machen, ebenso für Parkplätze-->
    <!-- Modal -->
    <div class="modal fade" id="insertPermissionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="insertPermissionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <!-- TODO: Titel je nachdem anpassen, entweder neu oder bearbeiten -->
                    <h3 class="modal-title" id="insertPermissionModalLabel">Parkerlaubnis</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="container">
                            <div class="row insert-row">
                                <div class="col">
                                    <div class="row detail-row">

                                        <div class="col-sm-6">

                                            <br>
                                            <h5>Personen Details</h5>
                                            <br>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="vorname"
                                                    placeholder="Vorname">
                                                <label for="vorname">Vorname</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="nachname"
                                                    placeholder="Nachname">
                                                <label for="nachname">Nachname</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="unternehmen"
                                                    placeholder="Unternehmen">
                                                <label for="unternehmen">Unternehmen</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="bereich"
                                                    placeholder="Bereich">
                                                <label for="bereich">Bereich</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="telefon"
                                                    placeholder="Telefon">
                                                <label for="telefon">Telefon</label>
                                            </div>

                                        </div>

                                        <div class="col-sm-6">

                                            <br>
                                            <h5>Fahrzeug Details</h5>
                                            <br>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="land" placeholder="Land"
                                                    value="DEU">
                                                <label for="land">Land</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="kennzeichen"
                                                    placeholder="Kennzeichen">
                                                <label for="kennzeichen">Kennzeichen</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="fahrzeug"
                                                    placeholder="Fahrzeug">
                                                <label for="fahrzeug">Fahrzeug</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="farbe" placeholder="Farbe">
                                                <label for="farbe">Farbe</label>
                                            </div>

                                            <div class="form-floating mb-1">
                                                <input type="text" class="form-control" id="bemerkung"
                                                    placeholder="Bemerkung">
                                                <label for="bemerkung">Bemerkung</label>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 grid">

                                            <br>
                                            <h5>Parkplätze</h5>
                                            <!-- <br> -->

                                            <div class="row">

                                                <!-- <div class="col-sm-3">
                                                    <div class="container"></div>
                                                    <div class="row row-cols-auto">

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-alle"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text" id="alle" <>Alle</span>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                                <div class="col-sm-9">-->
                                                <div class="col-sm-12">
                                                    <div class="container"></div>

                                                    <div class="row row-cols-auto">

                                                        <!-- <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox"
                                                                        value=""
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">Alle</span>
                                                            </div>
                                                        </div> -->

                                                        <!-- <div class="col">Column</div> -->
                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p1"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P1</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parkin-lot" type="checkbox"
                                                                        value="" id="parking-space-p2"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P2</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p3"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P3</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p4"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P4</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p5"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P5</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p6"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P6</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-p3erw"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">P3 Erw</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-a75"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">A75</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-werk"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">Werk</span>
                                                            </div>
                                                        </div>

                                                        <div class="col  mx-3 my-2 px-0 py-1">
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0 parking-lot" type="checkbox"
                                                                        value="" id="parking-space-jobticket"
                                                                        aria-label="Checkbox for following text input">
                                                                </div>
                                                                <span class="input-group-text">Job Ticket</span>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-success" onclick=insertPermission() id="savePermission">
                        Speichere Parkerlaubnis
                    </button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>