<div class="col  mx-3 my-2 px-0 py-1">
    <div class="input-group">
        <div class="input-group-text">
            <input class="form-check-input mt-0 parking-lot" type="checkbox"
                value="" id=<%= id %>
                aria-label="Checkbox for following text input">
        </div>
        <span class="input-group-text"><%= parkingLot %></span>
    </div>
</div>