<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../darkmode/darkmode.css">
</head>

<body>

    <button
        type="button"
        id="darkModeButton"
        class="btn bi-lightbulb-off"
        title="Wechselt zwischen hellem und dunklen Modus" 
        onload="loadThemeStyleOnLoad()"
        onclick="triggerSwitchTheme()"
        ></button>

</body>

</html>