<button
    type="button"
    id="darkModeButton"
    class="btn bi-lightbulb-off"
    title="Wechselt zwischen hellem und dunklen Modus" 
    onload="loadThemeStyleOnLoad()"
    onclick="triggerSwitchTheme()"
>
Ausschalten
</button>
