<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../darkmode/darkmode.css">
</head>

<body>

    <button type="button" class="btn" id="darkModeButton" onload="loadThemeStyleOnLoad()"
        onclick="triggerSwitchTheme()">
        Dunkel
    </button>

</body>

</html>