.table>tbody>tr>td{
    vertical-align: middle;
}

.table>tbody>tr> td:nth-child(1){
    vertical-align: middle;
    padding: 0;
}

.deleteButton, .editButton{
    height: 23px;
    width: 23px;

    padding: 1px;
    margin-bottom: 3px;
    margin-left: 4px;
}

.deleteButton{
    padding-top: 2px;
    padding-right: 2px;
}

.table-hover>tbody>tr:hover{
    background-color: yellow;
}

/* no results were found */
#noResult{
    font-size:50px;
    text-align: center;
    vertical-align: middle;
}

/* vehicle color tags */

.glyphicon-stop{
    font-size: 26px;
    color:black;
    top:1px;
}

span.inside {
    position:absolute;
    font-size: 24px;
    left:1px;
    top:1px;
}

.colorText{
    position:relative;
    bottom:6px;
}

.hellblau   { color: #5cc1f8;   }
.hellbraun  { color: #995f33;   }
.hellgruen  { color: #85d785;   }
.hellrot    { color: #ff4646;   }

.dunkelblau { color: #004297;   }
.dunkelbraun{ color: #713000;   }
.dunkelgruen{ color: #006500;   }
.dunkelgrau { color:gray;       }
.dunkelrot  { color: #ad0000;   }

.anthrazit  { color:dimgray;    }
.beige      { color:beige;      }
.brombeer   { color: #660033;   }
.bronze     { color: #bf8970;   }
.gold       { color: goldenrod; }
.gruen      { color: #4cd04c;   }
.lila       { color: #b1005c;   }
.orange     { color:orange;     }
.rot        { color:red;        }
.schwarz    { color:black;      }
.violett    { color:violet;     }
.weiss      { color: #ffffff;   }
.weinrot    { color: #741a24;   }

.blau, chagallblau      { color: #0065bf
}
.gelb, .gelbmetallic    { color:yellow;     }
.silber, .solber        { color:silver;     }
.grau, .anthrazitgrau   { color:gray;       }
.hellblaumetallic   { color: #367eff;   }

.silbermetallic, .hellgrau          { color: #c4cace;   }
.braun, .cappucino, .matsch         { color:saddlebrown;}
.marsaille, .blauanthrazit   { color: #0098e3;   }
