<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
</head>

<body onload="fetchAllPermissions()">
    <div id="resultTablePlaceHolder"></div>
    <%- include('noresult/noresult'); %>
        <%- include('spinner/spinner'); %>
</body>

</html>