body {
    background-color: #34495e;
}

:root {
    --main-bg-color: #F8F9FA;
    --main-text-color: #212529;
    --main-hover-bg-color: #212529;
    --main-hover-text-color: #F8F9FA;
    --main-hover-highlight-row-color: yellow;
}

body, .modal-content, .form-control, .parking-lot, #searchInput, #darkModeButton {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.table tbody tr:hover {
    background-color: var(--main-hover-highlight-row-color);
}

#deleteDataBase {
    background: orangered;
}