<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ändern</title>
    <script type="text/javascript" src="../edit/edit.js"></script>
    <script type="text/javascript" src="../edit/router.js"></script>
</head>

<body>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary editButton bi bi-pencil" data-bs-toggle="modal"
        data-bs-target="#insertPermissionModal" titel="Öffnet diesen Eintrag für die Bearbeitung"
        onclick="setInsertMode('edit')">
    </button>

</body>

</html>